.card {
    width: 90%;
    border: var(--standart-border);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
   font-family: var(--headings-font);
}

.card p {
    font-family: var(--text-font);
    font-weight: var(--fontweight-reg);
    color: var(--text-secondary-color);
}

.info {
    display: flex;
    justify-content: space-between;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: var(--fontweight-semibold);
    color: var(--logo-text-color);
    background-color: var(--button-color);
    padding: .3rem;
    opacity: .7;
    transition: all .3s;
}

.more:hover {
    opacity: 1;
}

@media screen and (min-width: 717px) {
    .card {
        width: 47%;
    }
}