.wrapper {
    width: var(--width);
    max-width: var(--content-max-width);
    margin: var(--center);
    text-align: center;
}

.wrapper h1 {
    font-family: var(--headings-font);
    font-size: 5rem;
}