* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --main-color: #FFB84C;
  --secondary-color: #F266AB;
  --button-color: #A459D1;
  --border-color: #2CD3E1;

  --headings-font: 'Kablammo';
  --text-font: 'Montserrat', sans-serif;

  --fontweight-reg: 300;
  --fontweight-semibold: 600;
  --fontweigh-bold: 700;

  --standart-border: 1px solid var(var(--border-color));
}