.wrapper {
    width: var(--width);
    max-width: var(--content-max-width);
    margin: var(--center);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    margin-bottom: 2rem;
    font-family: var(--headings-font);
}


